.logo-text {
  color: #FFFFFF;
  font-size: 25px;
  vertical-align: text-top;
  font-weight: 700;
  padding-left: 10px;
  /*font-family: 'Old Standard TT', serif;*/
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  text-transform: capitalize;
}

.bg-tetravet {
  background: linear-gradient(60deg, #f96332, #8e24aa);
}

.tetravet-header {
  margin-top: 50px;
  word-break: normal;
}

.btn-tetravet{
  background: linear-gradient(60deg, #f96332, #8e24aa);
}

.info-horizontal{
  text-align: left;
  .description{
    overflow: hidden;

    .fa{
      color: #f96332;
    }
  }
}

.navbar-collapse::before{
  background: linear-gradient(60deg, #f96332, #8e24aa) !important;
}

.page-header{
  height: 100vh !important;
  max-height: 100vh !important;
}

.big-map {
  height: 55vh;
  width: 100%;
  display: block;
  position: relative;
}

@media (max-width: 768px){
  h1{
    &.title{
      font-size: 3em;
    }
  }
  .page-header .container>.content-center{
    top:60%;
  }
  .image-container{
    &.image-left{
      margin-bottom: 0;
    }
  }
  .tetravet-header{
    text-align: center;
  }
  .tetravet-header-right{
    margin-top: 50px;
    word-break: normal;
    text-align: center;
  }
}

@media (max-width: 575px){
  h1{
    &.title{
      font-size: 2.5em;
    }
  }
}


@media (min-width: 1200px){
  .page-header{
    &.page-header-small{
      max-height: inherit;
    }
  }
}