.logo-text {
  color: #FFFFFF;
  font-size: 25px;
  vertical-align: text-top;
  font-weight: 700;
  padding-left: 10px;
  /*font-family: 'Old Standard TT', serif;*/
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  text-transform: capitalize;
}

.bg-tetravet {
  background: linear-gradient(60deg, #0cb8b6, black);
}

.tetravet-header {
  margin-top: 50px;
  word-break: normal;
}

.btn-tetravet{
  background: linear-gradient(60deg, #0cb8b6, black);
}

.info-horizontal{
  text-align: left;
  .description{
    overflow: hidden;

    .fa{
      color: #0cb8b6;
    }
  }
}

.text-primary{
  color: #0cb8b6!important;
}

.navbar-collapse::before{
  background: linear-gradient(0deg, #0cb8b6, black) !important;
}

.footer-default{
  background-color: black !important;
  .footer-url{
    color: white;
  }
}

.btn-primary,.separator.separator-primary{
  background-color: #0cb8b6;
}

.after-scroll{
  background-color: white;
  padding: 1px;
  padding-top: 0;
  padding-bottom: 2px;
  border-radius: 20px;
  width: 65px;
}

.navbar{
  .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.copyright{
  color: white;
}

.big-map {
  height: 55vh;
  width: 100%;
  display: block;
  position: relative;
}

@media (max-width: 768px){
  h1{
    &.title{
      font-size: 3em;
    }
  }
  .page-header .container>.content-center{
    top:60%;
  }
  .image-container{
    &.image-left{
      margin-bottom: 0;
    }
  }
  .tetravet-header{
    text-align: center;
  }
  .tetravet-header-right{
    margin-top: 50px;
    word-break: normal;
    text-align: center;
  }
}

@media (max-width: 575px){
  h1{
    &.title{
      font-size: 2.5em;
    }
  }
}


@media (min-width: 1200px){
  .page-header{
    &.page-header-small{
      max-height: inherit;
    }
  }
}

@media (min-width: 1900px) {
  .page-header{
    height: 100vh !important;
    max-height: 100vh !important;
  }
}